{%extends "notificaciones/base2.html"%}
{%load static%}

{%block content%}
{%include 'reporteria/widgets/mensajes.html'%}
{%include 'reporteria/widgets/if_errors.html'%}
<hr>
<h4 align="center">MIS NOTIFICACIONES</h4>
<hr>
<div class="container">

<div class="w3agile contact">
 <div class="book-a-ticket">
	<div class=" bann-info">
<table id="TableResult" class="table table-striped table-bordered" style="width:80%">
<thead>
<tr>
	<th>Fecha</th>
	<th>Accidente</th>
	<th>Estado</th>
</tr>
</thead>
<tbody>
	{%for noti in notificacions%}
<tr>
	<td>{{noti.f_creacion|date:"SHORT_DATE_FORMAT"}} - <b>{{noti.f_creacion|time:"P"}}</b></td>
	<td>{{noti.accidente.accidente}}</td>

	{%if noti.estado == True%}
	<td><p style="color:red";><i class="material-icons">reply</i><b>RECIBIDO - </b></p>
	</td>
	{%else%}
	<td><p style="color:green";><i class="material-icons">reply_all</i><b>LEIDO - </b></p>
	{{noti.f_modificacion|date:"SHORT_DATE_FORMAT"}} - <b>{{noti.f_modificacion|time:"P"}}</b>

	</td>
	{%endif%}
</tr>
{%endfor%}
</tbody>
</table>
</div>
</div>
</div>
</div>

{%block script%}
{% include 'reporteria/widgets/plugin.html' %}
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
{%endblock script%}

 {%endblock content%}
