{%extends "pedidos/base2.html"%}
{%load static%}

{%block content%}
<!--/welcome-->
         <div class="w3agile welcome">
       <h3 class="w3ls-title">MIS PEDIDOS</h3>
       <div class="b-bottom">
   <div class="col-md-6 banner_bottom_right">
   <div class="b-bottom">
     <form class="form-row" action="index.html" method="post">
           <div class="col-md-4">
             <div class="card mb-4 shadow-sm">
               <div class="text-center">
                 {%if orders%}
                 {%for m in orders%}
                 <table align="center" class="table table-bordered">
                   <tr>
                     <th>No. Pedido</th>
                     <td>{{m.pk}}</td>
                   </tr>
                   <tr>
                     <th>TOTAL</th>
                     <td>
                       Q.{{m.total}}
                      <a data-toggle="collapse" href="#detail_order_{{m.pk}}" role="button" aria-expanded="false" aria-controls="collapseExample"> +Ver Mas..</a>

                     </td>
                   </tr>
                   <tr>
                     <th>ESTADO</th>
                     {%if m.status == True%}
                     <td> <font color="red"> <b>RECIBIDO</b> </font></td>
                     {%else%}
                     <td><font color="green"> <b>ENTREGADO</b> </font></td>
                     {%endif%}
                   </tr>
                   <tr>
                     <th>REPARTIDOR</th>
                     <td>{{m.rep}}</td>
                   </tr>
                 </table>
                 <div class="collapse" id="detail_order_{{m.pk}}">
                   <div class="card card-body">
                     <p><b>DETALLE DEL PEDIDO</b></p>
                     <ol type="a">
                     {%for d in details%}
                     {%if d.pedido.pk == m.pk %}
                       <li align="left">{{d.item.name}} - Q.{{d.item.price}} </li>
                     {%endif%}
                     {%endfor%}
                     {%if m.notes%}
                     <p><b>NOTAS:</b> {{m.notes}}</p>
                     {%endif%}
                   </ol>
                     <p><b>TOTAL: </b> Q.{{m.total}}</p>
                   </div>
                 </div>
                 <br>
                 {%endfor%}
                 {%else%}
                 <h4>Uppps, no hay pedidos realizados!</h4>
                 {%endif%}


               </div>
             </div>
           </div>
     </form>
   </div>

 </div>
     <br>
     <br>
     <br>

 <!--//welcome-->
</div>
</div>

 {%endblock content%}
 {%block plugin%}
 {%if messages%}
 <script>
  {%include "pedidos/components/sweet_alert.js "%}
</script>
{%endif%}
 {%endblock plugin%}
