<!DOCTYPE html>
{%load static%}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="{%static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="{%static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  </head>
  <body>
    <div class="container">

    <div class="row justify-content-md-center">
<div class="alert alert-danger" role="alert">
  <h1>ATENCION: <h4>{{request.user.first_name}}!!!</h4></h1>
  <p>Es posible que la aplicacion no te haya concedido permisos para la pagina que
  estas intentando abrir.</p>
  <p>Para mas información consulta con el administrador del sitio.</p>
  <p><a href="{%url "home"%}">Ir a inicio</a></p>
</div>
</div>
</div>





<script src="{%static 'vendor/jquery/jquery.min.js'%}"></script>
<script src="{%static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
<script src="{%static 'vendor/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{%static 'js/sb-admin-2.min.js' %}"></script>
</body>
</html>
