<!-- Asignaion Modal-->
<div class="modal fade" id="downgradeModal{{tec.pk}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{request.user.first_name}}! Estas seguro de quitar el puesto de <b>tecnico</b> a este usuario ({{tec.username}})?</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">Este usuario ya no tendra acceso a las funciones de las ordenes de servicio.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
        <a class="btn btn-primary" href="{%url "downgrade_tec" tec.pk%}">Si, confirmar</a>
      </div>
    </div>
  </div>
</div>
